@use 'mixins/mixins' as *;
@use 'global/var' as *;
@use 'mixins/config' as *;
@use 'sass:color';

@include b(popper) {
  display: inline-flex;
  align-items: center;
  position: relative;

  @include e(text) {
    margin-right: 5px;
  }

  @include e(button) {
    border: none;
    font-size: 12px;
    cursor: pointer;
    background: transparent;
    padding: 2px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    will-change: transform;
  }

  @include e(content) {
    background-color: var(--background-color-light);
    color: var(--color-accent-light-5);
    padding: 8px 10px;
    border: 1px solid var(--border-color-light);
    border-radius: 8px;
    white-space: nowrap;
    z-index: 999;
    max-width: 300px;
    overflow-wrap: break-word;
    visibility: visible;

    :deep(code) {
      padding: 2px 4px;
      border-radius: 3px;
      font-size: 0.9em;
      background-color: var(--background-color-darker);
      color: var(--color-text-primary);
    }

    &[data-popper-placement^='bottom'] {
      .#{$namespace}-popper__arrow {
        top: -0.35rem;
        left: 50%;
        transform: translate(-10%, 0) rotate(45deg);
        border-top: 1px solid var(--border-color-light);
        border-left: 1px solid var(--border-color-light);
        border-bottom: none;
        border-right: none;
        border-top-left-radius: 2px;
        background-color: var(--background-color-light);
      }
    }

    &[data-popper-placement^='top'] {
      .#{$namespace}-popper__arrow {
        bottom: -0.35rem;
        left: 50%;
        transform: translate(-10%, 0) rotate(45deg);
        border-right: 1px solid var(--border-color-light);
        border-bottom: 1px solid var(--border-color-light);
        border-top: none;
        border-left: none;
        border-bottom-right-radius: 2px;
        background-color: var(--background-color-light);
      }
    }

    &[data-popper-placement^='left'] {
      .#{$namespace}-popper__arrow {
        right: -0.35rem;
        top: 50%;
        transform: translate(0, -10%) rotate(45deg);
        border-top: 1px solid var(--border-color-light);
        border-right: 1px solid var(--border-color-light);
        border-bottom: none;
        border-left: none;
        border-top-right-radius: 2px;
        background-color: var(--background-color-light);
      }
    }

    &[data-popper-placement^='right'] {
      .#{$namespace}-popper__arrow {
        left: -0.35rem;
        top: 50%;
        transform: translate(0, -10%) rotate(45deg);
        border-bottom: 1px solid var(--border-color-light);
        border-left: 1px solid var(--border-color-light);
        border-top: none;
        border-right: none;
        border-bottom-left-radius: 2px;
        background-color: var(--background-color-light);
      }
    }
  }

  @include e(arrow) {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: var(--background-color-light);
    z-index: 1;
    display: block;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
