:root {
  --vp-c-brand-1: #0062FF;
  --vp-c-brand-2: #0062FF;
  --vp-c-brand-3: #0062FF;
  --vp-c-text-1: #696974;
  --vp-c-text-2: #696974;
  --vp-c-text-3: #696974;


  --custom-block-info-left: #909399;
  --custom-block-info-bg: #f4f4f5;

  --custom-block-tip-left: #67c23a;
  --custom-block-tip-bg: #e1f3d8;

  --custom-block-warning-left: #e6a23c;
  --custom-block-warning-bg: #faecd8;

  --custom-block-danger-left: #f56c6c;
  --custom-block-danger-bg: #fde2e2;

  --custom-block-note-left: #4cb3d4;
  --custom-block-note-bg: #eef9fd;

  --custom-block-important-left: #a371f7;
  --custom-block-important-bg: #f4eefe;

  --custom-block-caution-left: #e0575b;
  --custom-block-caution-bg: #fde4e8;

  --custom-block-text-color: #303030;
  --custom-block-active-bg: rgba(0, 98, 255, .2);

  --custom-block-content-bg: #fff;
}

.dark {
  --custom-block-info-left: #a6a9ad;
  --custom-block-info-bg: #303030;

  --custom-block-tip-left: #95d475;
  --custom-block-tip-bg: #2b3a29;

  --custom-block-warning-left: #eebe77;
  --custom-block-warning-bg: #423427;

  --custom-block-danger-left: #f89898;
  --custom-block-danger-bg: #462929;

  --custom-block-note-left: #4cb3d4;
  --custom-block-note-bg: #193c47;

  --custom-block-important-left: #a371f7;
  --custom-block-important-bg: #230555;

  --custom-block-caution-left: #e0575b;
  --custom-block-caution-bg: #391c22;

  --custom-block-text-color: #f4f4f5;
  --custom-block-active-bg: rgba(0, 98, 255, .2);

  --custom-block-content-bg: #161618;
}
